* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.compBody {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  transition: 0.6s;
}

#quote-box-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-box {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  background-color: #fafafa;
}

#new-quote {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 8vh;
  left: 3vw;
}

#new-quote:hover {
  left: 3.5vw;
  font-weight: 700;
}

#tweetbtn:hover {
  left: 3.5vw;
  font-weight: 700;
}

#tweetbtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3vh;
  left: 3vw;
}

button {
  background-color: var(--one);
  width: 120px;
  height: 40px;
  gap: 30px;
  border: 2px solid var(--one);
  font-family: var(--medium);
  border-radius: 3px;
  color: #fafafa;
  transition: 0.6s;
}

button:hover {
  cursor: pointer;
  margin-top: -30px;
}

#text {
  text-align: center;
  width: 45%;
  font-size: 48px;
  font-family: var(--light);
  transition: 0.6s;
}

#author {
  text-align: right;
  width: 45%;
  margin-top: 20px;
  font-family: var(--medium-italic);
  transition: 0.6s;
}
